{% extends 'base.html'%}

{% block content%}
<h1>Login</h1>

{% if error %}
<p style="color:red;">{{error}} </p>
{% endif %}

{% if success %}
<p style="color:green;">{{success}} </p>
{% endif %}


<form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}

    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}"/>
    {% endif %}

    Username:
    <br/>
    <input type="text" name="username">
    <br/>
    Password:
    <br/> <input type="password" name="password">
    <br/>

    <br/>
    <input type="submit" class="btn btn-primary" name="loginbutton" value="Login">
</form>


{% endblock%}